@font-face {
	font-family: Bitter;
	src: local("Bitter-Regular"), url(http://themes.googleusercontent.com/static/fonts/bitter/v4/m9utyiSe0RUNoAmpferM-g.eot) format("embedded-opentype"), url(http://themes.googleusercontent.com/static/fonts/bitter/v4/s9gJB935qk_YG8d-lnTdvA.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Bitter;
	src: local("Bitter-Bold"), url(http://themes.googleusercontent.com/static/fonts/bitter/v4/JGVZEP92dXgoQBG1CnQcfPY6323mHUZFJMgTvxaG2iE.eot) format("embedded-opentype"), url(http://themes.googleusercontent.com/static/fonts/bitter/v4/JGVZEP92dXgoQBG1CnQcfD8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Source Sans Pro;
	src: local("Source Sans Pro Light"), local("SourceSansPro-Light"), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/toadOcfmlt9b38dHJxOBGHdR0F235EfZ1nyXVjo75tg.eot) format("embedded-opentype"), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/toadOcfmlt9b38dHJxOBGIPZSf8Ud0kNoe3bGnF7K24.woff) format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Source Sans Pro;
	src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/ODelI1aHBYDBqgeIAH2zlEA6tAhcINGmHcufV_v7M-I.eot) format("embedded-opentype"), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/ODelI1aHBYDBqgeIAH2zlBBHWFfxJXS04xYOz0jw624.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Source Sans Pro;
	src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/toadOcfmlt9b38dHJxOBGDe0M8oPjGfL9wLU31UDwGU.eot) format("embedded-opentype"), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/toadOcfmlt9b38dHJxOBGAE-U1AYRUXXE0Dth8uKIE0.woff) format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Source Sans Pro;
	src: local("Source Sans Pro Light Italic"), local("SourceSansPro-LightIt"), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/fpTVHK8qsXbIeTHTrnQH6HWbmX2uoH7lL69EJl0wI4Y.eot) format("embedded-opentype"), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/fpTVHK8qsXbIeTHTrnQH6HOOzCfWADO619gxuli7ZzU.woff) format("woff");
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: Source Sans Pro;
	src: local("Source Sans Pro Italic"), local("SourceSansPro-It"), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/M2Jd71oPJhLKp0zdtTvoM1TcOWSdSnYBvn1gr1RMk2k.eot) format("embedded-opentype"), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/M2Jd71oPJhLKp0zdtTvoM1xDqsnd7zNt-b9r25av6rY.woff) format("woff");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: Source Sans Pro;
	src: local("Source Sans Pro Bold Italic"), local("SourceSansPro-BoldIt"), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/fpTVHK8qsXbIeTHTrnQH6IkFCgsAFtYcZ4HODNGiZHQ.eot) format("embedded-opentype"), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/fpTVHK8qsXbIeTHTrnQH6L7TcrrtjxQtUk4wnkGIFYE.woff) format("woff");
	font-weight: 700;
	font-style: italic;
}
