#titlebanner{
    width:960px;
    height: 236px;
    background-image:url('images/TitleBanner.png');
    background-color:#cccccc;
}
#homeeditor{
    width: 100%;
    padding: 10px 10px 10px 10px;
    margin: 10px 0px 10px 0px;
    height: 350px;
}

#homeeditleft{
    width:55%;
    float: left;
}

#homeeditright{
    width:40%;
    margin-top:30px;
    float: right;
    clear: right;
    font-size: 14pt;
    border-left-width:thick;
    border-left-style:solid;
    border-left-color:#d35b45;
    padding-left: 20px;
    padding-top: 20px;
}

#hometexteditor{
    width: 100%;
    resize: none;
    height: 200px;
    clear: right;
    margin: 10px 0px 10px 0px;
}
#homeintro{
    font-size:22pt;
}
#homeeditorarea
{
    margin-left: 10px;
}
#homewordcount
{
    float:left;
}
#homepublish
{
    float:right;
    clear:right;
}
#homewordcount
{
    color: #e5e6e7;
}
#dialog-confirm
{
    display: none;
    position: absolute;
}
#dddd
{
    height: 300px;
}
#homefeedtitle
{
    font-size:24pt;
    margin-left: 20px;
}
#hometabcontainer
{
    width:100%;
}
.hometabbutton
{
    text-align: center;
    height: 40px;
    font-size: 20px;
    width: 160px;
    padding: 2px 2px 2px 2px;
    float:left;
}
#hometabcontent
{
    clear:left;
    width: 100%;
    background-color:#53787a;
}
#hometabrecent
{
    background-color: #e3dfd2;
    margin-left: 40px;
    color:#d35b46;
}
#reviewbox
{
    height:600px;
    clear:right;
}
#reviewleftcol
{
    width:50%;
    float:left;
}
#reviewrightcol
{
    width:50%;
    height:600px;
    float:right;
    clear:right;
    overflow-y:scroll;
    overflow-x:hidden;
    
}
