#comments
{
}
#respond
{
    display: none;
}
.selection_blob_div
{
    display: none;
}
#masthead
{
background-color: #D35B46;
}
#titlebanner{
    width:960px;
    height: 236px;
    background-image:url('images/TitleBanner.png');
    background-color:#cccccc;
}
#homeeditor{
    width: 100%;
    padding: 10px 10px 10px 10px;
    margin: 10px 0px 10px 0px;
    height: 350px;
}

#homeeditleft{
    width:55%;
    float: right;
    clear:right;
}

#homeeditright{
    width:40%;
    margin-top:30px;
    float: left;
    font-size: 14pt;
    padding-left: 20px;
    padding-top: 20px;
}

#hometexteditor{
    width: 100%;
    resize: none;
    height: 200px;
    clear: right;
    margin: 10px 0px 10px 0px;
    border: 6px solid #EEEEEE;
    border-raduis: 10px;
}
#homeintro{
    font-size:22pt;
}
#homeeditorarea
{
    margin-left: 10px;
}
#homewordcount
{
    float:left;
}
#homepublish
{
    float:right;
    clear:right;
}
#homewordcount
{
    color: #e5e6e7;
}
#dialog-confirm
{
    display: none;
    position: absolute;
    overflow: auto;
}
#dddd
{
    height: 300px;
}
#homefeedtitle
{
    font-size:24pt;
    margin-left: 20px;
}
#hometabcontainer
{
    width:100%;
}
.hometabbutton
{
    text-align: center;
    height: 40px;
    font-size: 20px;
    width: 160px;
    padding: 2px 2px 2px 2px;
    float:left;
}
#hometabcontent
{
    clear:left;
    width: 100%;
    background-color:#53787a;
    overflow: auto;
}
#hometabrecent
{
    background-color: #e3dfd2;
    margin-left: 40px;
    color:#d35b46;
}
#reviewbox
{
    height:600px;
    clear:right;
    background-color: #53787a;
}
#reviewleftcol
{
    width:50%;
    float:left;
    overflow:auto;
}
#reviewrightcol
{
    width:50%;
    height:600px;
    float:right;
    clear:right;
    overflow-y:scroll;
    overflow-x:hidden;
    padding: 10px 10px 10px 10px;
    
}
.comment-body:hover
{
    background-color: #FFFFAA;
}
#submit
{
}

.entry-left
{
    width:20%;
    float:left;
    margin-left:60px;
    margin-top:auto;
    margin-bottom:auto;
}
.entry-right
{
    width:70%;
    float:right;
    clear: right;
    margin-right: 20px;
    background-color: #FFFFFF;
    border:8px solid;
    border-color: #bbbbbb;
    border-radius:25px;
    padding:10px 0px;
}
article
{
    overflow:auto;
}
#footerimage
{
    width:960px;
    height: 65px;
    background-image:url('images/FooterBanner.png');
    background-color:#FFCCCC;
    
}

#reviewleftcol article
{
    background-color: #FFFFFF;
    min-height: 400px;
    overflow: auto;
    margin: 20px 20px;
    border: 10px solid #BBBBBB;
    border-radius: 20px;
    font-size: 16pt;
}

#upvote
{
    overflow: auto;
}
.upvote_button
{
    height: 24px;
    width: 24px;
    float: left;
    background-image:url('images/Hands-Thumbs-up-icon.png');
    background-repeat:no-repeat;
    background-position:center; 
}
.upvote_button:hover
{
    background-color: #f37b66;
    border-radius:4px;
    cursor: pointer;
}
.upvote_count
{
    width: 40px;
    margin-left: 20px;
    float: left;
    clear: right;
    font-size: 12pt;
    font-weight: bold;
}

.post_author_header
{
    overflow:auto;
    padding: 20px 0px;
    margin-bottom: -20px;
}
.author_name
{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 36px;
    margin-left: 60px;
}
#editorcomments
{
    color: #FFFFFF;
}
